# Accelerated Motion in 1-Dimension

In this experiment we shall analyze motion in 1-dimension. We will consider a body accelerating at a nearly constant rate down a nearly frictionless slope to test a hypothesis originally proposed by Galileo.

## Algorithm

1. Obtain a value for the acceleration of gravity in the lab.

2. The air track is lifted under one leg by a certain height h. The distance between the legs on the air track is exactly 100.0 cm. Based on this info, calculate the angles of inclination of the air track. Sin(O) = h/100. A small calculation error will make a difference in the accuracy of the results.

3. execute prompt 4

4. do what is asked of you in propmt 5 (a - e) and then answer question 6

5. Answer all of page 4 of the pdf

## Program

In [1]:
import pandas as pd
import plotly.express as px
df = pd.read_csv("Accelerated Motion DATA - run 10.csv", header=1)
display(df)

      t (s)  x (m)   y (m)  v_{x} (m/s)
0    0.0000   1.86  0.0434          NaN
1    0.0500   1.86  0.0434      -0.0664
2    0.0833   1.86  0.0434      -0.1860
3    0.1170   1.85  0.0433      -0.3010
4    0.1500   1.84  0.0434      -0.4420
..      ...    ...     ...          ...
142  4.7500   1.75  0.0437      -0.6060
143  4.7800   1.73  0.0437      -0.5910
144  4.8200   1.71  0.0439      -0.5690
145  4.8500   1.69  0.0434      -0.5500
146  4.8800   1.68  0.0431          NaN

[147 rows x 4 columns]

**1.** Obtain a value for the acceleration of gravity in the lab.

In [5]:
g = 980.0
print(f"{g} cm/s^2")

980.0 cm/s^2

**2.** The air track is lifted under one leg by a certain height h. The distance between the legs on the air track is exactly 100.0 cm. Based on this info, calculate the angles of inclination of the air track. Sin(O) = h/100. A small calculation error will make a difference in the accuracy of the results.

In [ ]:
table = {
  "Run Number" : ["02", "04", "08", "10"],
  "Height h, (cm)": [],
  "Angle (O)": []
}